@media only screen and (max-width: 480px){
    #header{
        background-image: url(swanphone.png);
    }
    .header-text{
        margin-top: 40px;
        font-size: 24px;
    }
    .header-text h1{
        font-size: 24px;
    }
    .header-text span{
        font-size: 24px;
    }
    .header-text .auto-type{
        position: relative;
        font-size: 20px;
    }
    .header-text2 .auto-type2 span{
        margin-top: 24px;
        font-size: 20px;
    }
    nav .fa-solid{
        display: block;
        font-size: 24px;
    }
    nav ul{
        background: #58A4B0;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 24px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 24px;
        left: 24px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 36px;
        margin-top: auto;
        }
}
.about-col-1{
    flex-basis: 100%;
    margin: 2%;
} 
.about-col-2{
    flex-basis: 100%;
    margin: 2%;
}
.about-col-1 img{
    width: 100%;
}
.text{
    line-height: 24px;
    color: #ababab;
}
.tab-titles{
    margin: 16px 0 32px;
   }
.tab-links{
    margin-right: 36px;
    font-size: 14px;
    font-weight: 400;
   }
.connect-left{
    flex-basis: 100%;
}
.connect-right{
    flex-basis: 100%;
}